# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.idea/.name
/.idea/castelo-de-viana.iml
/.idea/encodings.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/workspace.xml
/CWSDPMI.EXE
/CWSDPMI.SWP
/EASTL/
/cmake-build-debug/CMakeCache.txt
/cmake-build-debug/CMakeFiles/3.13.2/CMakeCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.13.2/CMakeCXXCompiler.cmake
/cmake-build-debug/CMakeFiles/3.13.2/CMakeDetermineCompilerABI_C.bin
/cmake-build-debug/CMakeFiles/3.13.2/CMakeDetermineCompilerABI_CXX.bin
/cmake-build-debug/CMakeFiles/3.13.2/CMakeSystem.cmake
/cmake-build-debug/CMakeFiles/3.13.2/CompilerIdC/CMakeCCompilerId.c
/cmake-build-debug/CMakeFiles/3.13.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
/cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
/cmake-build-debug/CMakeFiles/CMakeError.log
/cmake-build-debug/CMakeFiles/CMakeOutput.log
/cmake-build-debug/CMakeFiles/Makefile.cmake
/cmake-build-debug/CMakeFiles/Makefile2
/cmake-build-debug/CMakeFiles/TargetDirectories.txt
/cmake-build-debug/CMakeFiles/castleofviana.dir/CXX.includecache
/cmake-build-debug/CMakeFiles/castleofviana.dir/DependInfo.cmake
/cmake-build-debug/CMakeFiles/castleofviana.dir/build.make
/cmake-build-debug/CMakeFiles/castleofviana.dir/cmake_clean.cmake
/cmake-build-debug/CMakeFiles/castleofviana.dir/depend.internal
/cmake-build-debug/CMakeFiles/castleofviana.dir/depend.make
/cmake-build-debug/CMakeFiles/castleofviana.dir/flags.make
/cmake-build-debug/CMakeFiles/castleofviana.dir/link.txt
/cmake-build-debug/CMakeFiles/castleofviana.dir/progress.make
/cmake-build-debug/CMakeFiles/clion-environment.txt
/cmake-build-debug/CMakeFiles/clion-log.txt
/cmake-build-debug/CMakeFiles/cmake.check_cache
/cmake-build-debug/CMakeFiles/feature_tests.bin
/cmake-build-debug/CMakeFiles/feature_tests.c
/cmake-build-debug/CMakeFiles/feature_tests.cxx
/cmake-build-debug/CMakeFiles/progress.marks
/cmake-build-debug/Makefile
/cmake-build-debug/castleofviana
/cmake-build-debug/castleofviana.cbp
/cmake-build-debug/cmake_install.cmake
/cga.pfs
/game
/gamedata.pfs
/packer
/sdl.pfs
/vga.pfs
/game.data
/game.html
/game.js
/game.wasm
/cmake-build-debug/CMakeFiles/Progress/1
/cmake-build-debug/CMakeFiles/Progress/2
/cmake-build-debug/CMakeFiles/Progress/3
/cmake-build-debug/CMakeFiles/Progress/4
/cmake-build-debug/CMakeFiles/Progress/5
/cmake-build-debug/CMakeFiles/Progress/6
/cmake-build-debug/CMakeFiles/Progress/7
/cmake-build-debug/CMakeFiles/Progress/8
/cmake-build-debug/CMakeFiles/Progress/count.txt
/cmake-build-debug/CMakeFiles/castleofviana.dir/C.includecache
NDK-version/.idea
.idea
CMakeCache.txt
cmake_install.cmake
CMakeFiles
castleofviana
Makefile
